*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #CEF1BC;
}
header{
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90px;
}
.logo{
    margin-left: 30px;
    width: 140px;
}
.logo img{
    width: 140px;
    height:100%;
}
nav ul{
margin-left: 200px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
 width: fit-content;
 list-style: none;
}
nav li a{
    text-decoration: none;
    margin-left: 30px;
    font-size: 26px;
    font-style: oblique;
    color: #013729;
    transition: all 0.1s ease;
}
nav li a:hover{
    border-bottom:3px solid #013729;
}
.hero{
    position: relative;
    background-repeat: no-repeat;
    background-image:url(img/une-vue-d-oiseau-de-shanghai.jpg);
    background-size: 100%;
    width: 100%;
    height:700px;
}
.hero::before{
content: "";
position:absolute;
inset: 0;
background-color: rgba(255, 255, 255, 0.5);
z-index: 0;
}
.hero *{
    z-index: 1;
}
.hero-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}
.hero-img img{
    width: 50%;
    opacity: 1.5;
    box-shadow: #013729;
}
.hero-img h2{
    color:#013729 ;
    position: relative;
    bottom: 80px;
    font-size: 46px;
    font-weight: 700;
}
.even-cl{
    text-align: center;
    margin-top:5%;
    margin-bottom: 2%;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 700;
    font-style: oblique;
}
.der-event{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    width: 100%;
    height:900px;
    background-color: #CEF1BC;
    border-radius: 60px;
    align-items: center;
    gap: 30px;

}
.der-event div{
background-color: #F7F2F2;
display: flex;
flex-direction: column;
gap:20px;
margin-left: 12%;
width: 275px;
height: 409px;
border-radius: 30px;
}
.der-event > div > img{
    width: 100%;
    height: 180px;
    border-top-left-radius:25px ;
    border-top-right-radius: 25px;
}
.der-event > div >h4{
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.der-event > div > p{

    font-size: 18px;
    text-align: center;
    font-size: medium;

}
.p1{
    margin-top: 30px;
}
.p7{
    margin-top: 25px;
}
.dar-ev{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #CEF1BC;
    border-radius: 60px;
   
}
.dar-ev h4{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.der-event2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
     gap: 30px;
     margin-bottom: 20px;
}
.der-event2 div{
background-color: #F7F2F2;
display: flex;
flex-direction: column;
gap: 15px;
margin-left: 12%;
width: 303px;
height: 552px;
border-radius: 30px;
}
.der-event2 > div > img{
    width: 100%;
    height: 255px;
    border-top-left-radius:25px ;
    border-top-right-radius: 25px;
}
.der-event2 > div >h4{
    text-align: center;
    width: 100%;
    font-size: 28px;
    font-weight: 500;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.der-event2 > div > p{
    font-size: 24px;
    text-align: center;
    font-size: medium;
}
footer{
    width: 100%;
    height: auto;
    background-color: #F7F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info {
    text-align: center;
    margin-right: 600px;
}
.for-sec h3{
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    font-style: oblique;
    margin-bottom: 25px;
}
.part-form{
    position: relative;
    width: 100%;
    height:auto;
    background-image: url(img/une-vue-d-oiseau-de-shanghai.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 60px;
}
.part-form::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
}
.part-form * {
  position: relative;
  z-index: 1;
}
.part-form h4{
    font-size: 26px;
    font-weight: 700;
    font-style: oblique
}
.part-form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}
.part-form label{
    font-size: 24px;
    color: #000000;
    font-weight: 900;
    font-style: oblique;
}
.part-form input{
    width: 300px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
}
.part-form textarea{
    width: 300px;
    height: 120px;
    border-radius: 20px;
    text-align: center;
}
.part-form button{
    text-align: center;
    margin-left: 100px;
    width: 120px;
    height: 40px;
    background-color: #85cb80;
    border-radius: 20px;

}
.part-form button:hover{
    box-shadow: 0 0 5px rgb(0,0,0),
                0 0 10px rgb(0,0,0),
                0 0 20px rgb(0,0,0),
                0 0 40px rgb(0,0,0);
}
.part-form input:focus{
    box-shadow: 0 0 10px rgb(72, 233, 123);
}
.part-form textarea:focus{
    box-shadow: 0 0 10px rgb(97, 215, 64);
}
.part-form input::placeholder{
    text-align: center;
}
.part-form textarea::placeholder{
    text-align: center;
}
.part-form p{
    font-size: 18px;
    margin-bottom: 15px;
}
.tem h3{
    
    margin-top: 25px;
    text-align: center;
    font-size:26px ;
}
.tem{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #CEF1BC;
}
.temoi{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.temoi figure{
    text-align: center;
    background-color: #F7F2F2;
    border-radius: 20px;
    width: 294px;
    height: 470px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.temoi figure img{
    width:100%;
    height: 50%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.temoi figure figcaption{
    display: flex;
    flex-direction: column;

}
.temoi figure figcaption strong{
    font-size: 26px;
    font-weight: 700;
    font-style: oblique;
}
.temoi figure figcaption span{
    font-size:18px ;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

html,body {
    margin: 0;
    padding: 0;
}

header{
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90px;
}
.logo{
    margin-left: 30px;
    width: 140px;
}
.logo img{
    width: 140px;
    height:100%;
}
nav ul{
margin-left: 200px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
 width: fit-content;
 list-style: none;
}
nav li a{
    text-decoration: none;
    margin-left: 30px;
    font-size: 26px;
    font-style: oblique;
    color: #013729;
    transition: all 0.1s ease;
}
nav li a:hover{
    border-bottom:3px solid #013729;
}

html,body {
    margin: 0;
    padding: 0;
    background-color: #CEF1BC;
}

header{
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90px;
}
.logo{
    margin-left: 30px;
    width: 140px;
}
.logo img{
    width: 140px;
    height:100%;
}
nav ul{
margin-left: 200px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
 width: fit-content;
 list-style: none;
}
nav li a{
    text-decoration: none;
    margin-left: 30px;
    font-size: 26px;
    font-style: oblique;
    color: #013729;
    transition: all 0.1s ease;
}
nav li a:hover{
    border-bottom:3px solid #013729;
}

.info {
    text-align: center;
    margin-right: 600px;
}
section.article {
    padding: 60px 20px;
    border-radius: 30px;
}

.article-h{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-style: oblique;
    margin: 20px;
    color: #28592D;
}
.article-intro{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    gap:30px;
}
.article-intro img{
    width: 416px;
    height: 416px;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}
.article-intro p{
    font-size: 26px;
    text-align: justify;
    width: 50%;
    color: #2f2f2f;
}
.article-liens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px 0px;
    
}

.article-liens figure {
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-liens img{
    width: 227px;
    height: 192px;
    border-radius: 20px;
    object-fit: cover;
}
.article-liens figcaption{
    text-align: center;
    width:227px ;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: #1e392a;
}
.article-content{
    width: 100%;
    height:1000px;
    background-image: url('/image/background.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-size:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 60px;
    padding: 20px;
 

}

.article-content  div {
  z-index: 2;
  max-width: 70%;
  max-height: 100%;
  text-align: center;

}

.article-content h3{
    font-size: 28px;
    font-weight: 800;
    font-style: oblique;
    margin-bottom: 10px;
    color:#28592D
}
.article-content p{
    font-size: 24px;
    text-align: justify ;
    font-weight: 500;
}

.submit {
  background-color: #8adb8d; 
  color: white;
  border: none;
  padding: 12px 28px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.submit:hover {
  background-color: #45a049;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.submit:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.video-explicatif{
    margin-bottom: 20px;
}
.video-explicatif h3{
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    font-style: oblique;
    color:#28592D
}
.video-explicatif img{
    width: 50%;
    height: auto;
    margin-left: 25%;
}

footer{
    width: 100%;
    height: auto;
    background-color: #F7F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:786px){
header{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    height: auto;
}
nav ul{
width: 100%;
margin-left: 0;
display: flex;
flex-direction: row;
align-items: center;
background-color: rgb(255, 255, 255);
}
nav ul a{
font-size: 10px;
margin-bottom: 15px;
margin-right: 5px;
transition: all 0.1s ease;
}
nav ul a:hover{
    border-bottom:3px solid blue;
}
.hero{
    height: auto;
}

.hero-img img{
    margin-top: 20px;

}
.hero-img h2{
    color:#000000 ;
    position: relative;
    left: 2px;
    bottom: 20px;
    font-size: 26px;
    font-weight: 600;
}
.even-cl{
    text-align: center;
    margin-top:25px;
    margin-bottom: 2%;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
    font-style: oblique;
}
.der-event{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-self: center;
    justify-items: center;
    width: 100%;
    height:auto;
    background-color: #CEF1BC;
    border-radius: 60px;
    align-items: center;
    gap: 30px;

}
.der-event div{
margin-right: 35px;
gap:20px;
margin-top: 15px;
margin-bottom: 20px;
}

.dar-ev{
    width: 100%;
    margin-bottom: 20px;
}
.dar-ev div{
    width: 90%;  
}
.dar-ev h4{
    font-size: 26px;
}
.der-event2{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
.der-event2 > div >h4{
    font-size: 24px;
}
.der-event2 > div > p{
    font-size: 20px;
}
footer{
    width: 100%;
    height: auto;
    background-color: #F7F2F2;
    display: flex;
    flex-direction: column;
}
.info{
    margin: 0;
}
  header{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: #ffff;
  }

  .logo {
    margin: 0;
  }

  nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  nav li a {
    font-size: 10px;
    
  }
  
.article-content{
    width: 100%;
    height: 100%;
    background-image: url(/image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    margin: 0;
    padding:0;
}
.article-content div{
  padding-bottom: 20px;

}
  .article-intro {
    flex-direction: column;
    gap: 5px;
  }

  .article-intro img {
    width: 90%;
    height: auto;
  }

  .article-intro p {
    width: 90%;
    font-size: 20px;
  }

  .article-liens img {
    width: 180px;
    height: 150px;
  }

  .article-liens figcaption {
    font-size: 18px;
  }

  .article-content h3 {
    font-size: 14px;
  }

  .article-content p {
    font-size: 10px;
  }

  .video-explicatif h3 {
    font-size: 28px;
  }

  .video-explicatif img {
    width: 90%;
    margin-left: 5%;
  }

  .submit {
    font-size: 16px;
    padding: 5px 10px 10px 5px;
  }
.part-form{
    width: 100%;
    height:auto;
    background-image: url(une-vue-d-oiseau-de-shanghai.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
}
.part-form h4{
    font-size: 20px;
    width: 80%;

}
.part-form div{
    gap: 5px;
    margin-bottom: 10px;
}
.part-form label{
    font-size: 22px;
    font-weight: 600;
}
.part-form input{
    width: 200px;
    height: 20px;
}
.part-form textarea{
    width: 200px;
    height: 100px;
}
.part-form button{
    text-align: center;
    margin-left: 60px;
    width: 100px;
    height: 40px;
    background-color: #85cb80;
    border-radius: 20px;
    margin-bottom: 20px;
}
.part-form textarea::placeholder{
    font-size: 12px;
}
.tem{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #CEF1BC;
}
.temoi{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
.temoi figure{
    width: 294px;
    height: 370px;
}
.temoi figure figcaption{
    gap: 2px;
}
.temoi figure figcaption strong{
    font-size: 22px;
}
.temoi figure figcaption span{
    font-size:16px ;
}
.part-form p{
    width:80%;
}





}
/*start coding projects page */
.headerblock{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
    padding-bottom: 40px;
   

   

}

.headerblock__logo{
    width: 40%;

}
.headerblock__links{
      width: 100%;
      margin-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: rgb(255, 255, 255);
      gap: 5%;
      
    
    
}
.headerblock__link{
    color: black;
    text-decoration: none;

}
.headerblock__link:hover{
   
    border-bottom:3px solid blue;

}
.divtitle{
    display: flex;
    justify-content: center;

}
.divtitle__title{
    color: #013729;
}

.blocksearch{
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 10%;
   
}
.blocksearch__title{
    color: black;
    font-family: cursive;
}
.blocksearch__discription{
    color: black;
    font-family: cursive;
    margin: 3%;
}
.blocksearch__searchbar{
    border-radius: 16px;
    width:60% ;
    padding: 10px;
   
}

.filttrage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 10px;
    font-family: cursive;
    padding: 20px;
   
}

.filttrage a{
    text-decoration: none;
    text-decoration: solid;
    color: black;
}
.filttrage a:hover{
    
     border-bottom:3px solid blue;
    
}
.cards{
   
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;

}
.card{
    background-color: #D4F3CC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    width: 80%;
    border-radius:43px ;

}
.card:hover{
    box-shadow: 5px 5px;
}
.card__image{
    width: 100%;
    height: 60%;
    border-top-left-radius:43px ;
    border-top-right-radius:43px ;
}

.card__title{
    margin: 4%;
    font-family: cursive;

    


}
.card__discription{
    margin: 6%;
}

.card__catygory{
   text-decoration: none;
   color: rgb(226, 221, 221);
   margin-left:-50%;
   font-size: 10px;
   background-color: #013729;
   padding: 7px;
   border-radius: 20px;
   margin-bottom: 10px

}
.card__explore{
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-size: 15px;
   background-color: #f9f9f9;
   border-radius: 20px;
   margin-bottom: 40px;
   padding: 4px;
   padding-left: 25px;
   padding-right: 25px;
  
   border: rgb(58, 58, 58) 2px solid;


   

}
#reset{
    display: flex;
    justify-content: center;
    margin: 10px;


}
#reset a{
    text-decoration: none;
    color: black;
    background-color: #D4F3CC;
    padding: 10px;
    border-radius: 15px;


}
#reset a:hover{
    background-color: chartreuse;
}
.mobilefooter{
     width: 100%;
    height: auto;
    background-color: #F7F2F2;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
@media(min-width:1000px) {
    .headerblock__logo{
        width: 200px;
    }
    .headerblock__links{
        justify-content: end;
        margin: 20px;


    }
    .cards{
        grid-template-columns: repeat(3,1fr);
    }
    .mobilefooter{
        display: flex;
        flex-direction: row;
        
    }
}

   










